<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>Invoice</div>
  <div>
    <p>
      Invoice #: {{id}}<br/>
      Date: {{date}}
    </p>
  </div>
  <img src="{{issuer.logo}}" alt="Logo">
  <div>
    {{#issuer}}
      {{name}}
      {{#each address}}
        {{this}}
      {{/each}}
      {{#contact}}
        {{tel}}
        {{fax}}
        {{email}}
        {{website}}
      {{/contact}}
    {{/issuer}}
  </div>
  <div>
    {{#invoicee}}
      {{name}}
      {{#each address}}
        {{this}}
      {{/each}}
    {{/invoicee}}
  </div>
</body>
</html>